.GeneralInstructions {
  margin-top: 5px;
  display: grid;
  row-gap: 10px;
  padding: 20px;
  background-color: var(--item-background);
  border-radius: 10px;
  grid-template-columns: 1fr;
  justify-content: left;

  p {
    font-size: 1.25em;
  }

  .GeneralInstruction {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 2fr 8fr 1fr;
    font-size: 1.25rem;
    align-items: center;
    column-gap: 5px;

    .GeneralInstructionRemove {
      border: none;
      justify-self: right;
      padding: 7px 13px;
      background-color: var(--blue);
      border-radius: 30px;
      color: white;
      background-color: #f21f1f;
      /*font-size: 0.8rem;*/
    }
  }

  .GeneralInstructionAdd {
    /*background-color: var(--blue);*/
    background-color: transparent;
    color: var(--blue);
    justify-self: left;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }

  .GeneralInstructionAdd:hover {
    color: white;
    background-color: var(--blue);
  }
}
