.GeneralInstructions {
  margin-top: 5px;
  display: grid;
  row-gap: 10px;
  padding: 20px;
  background-color: var(--item-background);
  border-radius: 10px;
  grid-template-columns: 1fr;

  p {
    font-size: 1.25em;
  }

  .GeneralInstruction {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1.5fr 8fr 1fr;

    .GeneralInstructionRemove {
      border: none;
      background-color: var(--blue);
      border-radius: 5px;
      color: white;
      font-size: 1rem;
      margin: 0px 10px;
    }
  }

  .GeneralInstructionAdd {
    background-color: var(--blue);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    width: 50%;
  }
}
