.LongQuestion {
  display: grid;
  padding: 20px;
  margin-top: 30px;
  background-color: var(--item-background);
  border-radius: 10px;
  grid-template-columns: 1fr;
  row-gap: 10px;

  p {
    font-size: 1.25em;
    margin-bottom: 20px;
  }

  textarea {
    height: 130px;
    font-size: 1.25em;
    padding: 10px;
    border: 1px solid black;
  }

  textarea:focus {
    border: 1px solid black;
    outline: none;
  }
}
