.SectionHeader {
  display: flex;
  margin-top: 30px;
  align-items: center;
  /*background-color: rgba(49, 118, 245, 1);*/
  background-color: var(--item-background);
  padding: 20px;
  border-radius: 10px;

  .SectionHeaderLabel {
    font-size: 1.25rem;
    margin-right: 20px;
  }

  .SectionHeaderInput:focus {
    outline: none;
  }

  .SectionHeaderInput {
    padding: 15px;
    background-color: white;
    border: 1px solid black;
    font-size: 1.25em;
    width: auto;
    border-radius: 10px;
    border: none;

    option {
      border: none;
    }
  }
}
