:root {
  height: 100%;
  --green: #009540;
  --green-alpha: #009540dd;
  --item-background: #eeeeee77;
  --text-color: #000;
  /*--blue: #1e66f5;*/
  --blue: #2b7fff;
  --dark-blue: #2065e4;
}

@font-face {
  font-family: "booker";
  src: url("./fonts/GoudyBookletter1911-Regular.ttf") format("truetype");
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {}
